html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffdbc5;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  text-align: center;
  position: relative;
  background: transparent;
  width: 90%;
  max-width: 500px;
  padding: 25px;
  border-radius: 20px;
  box-sizing: border-box;
}

.game-container h2 {
  color: #950101;
  margin-bottom: 20px;
  font-size: clamp(24px, 5vw, 36px);
  font-weight: bold;
}
.game-container h2.font {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0px;
}

.btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 30px;
  justify-content: center;
  gap: 30px;
}

button {
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

#yesBtn {
  background-color: #3d0000;
  border: none;
  color: #fefefe;
  position: relative;
}

/* #yesBtn:hover {
  background-color: #FF0000;
} */

#noBtn {
  background-color: #3d0000;
  color: #fefefe;
  position: relative;
}

/* #noBtn:hover {
  background-color: #FF0000;
} */

.hidden {
  display: none;
}

#responseMsg {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8;
  /* margin-bottom: 15px; */
  /* لون أسود شفاف (آخر رقم 0.2 هو درجة الشفافية، وكل ما قللتيه بصير أفتح) */
  background-color: rgba(0, 0, 0, 0.2) !important;

  /* مسافات داخلية عشان النص ما يلزق بالأطراف */
  padding: 20px !important;

  /* زوايا دائرية لشكل أرتب وناعم */
  border-radius: 15px !important;

  /* لون النص عشان يكون أبيض وواضح جداً فوق الخلفية الشفافة */
  color: #3d0000 !important;
}

.new-background {
  background-image: url("images/Kisses.png");
  background-size: cover; /* بتخلي الصورة تغطي الشاشة كلها بدون فراغات */
  background-position: center; /* بتخلي تركيز الصورة بالنص تماماً على اللابتوب والموبايل */
  background-repeat: no-repeat; /* بتمنع تكرار الصورة جنب بعضها */
  background-attachment: fixed; /* بتثبت الخلفية لو صار في سكرول أو حركة */
  background-image:
    linear-gradient(rgba(241, 241, 241, 0.26), rgba(255, 255, 255, 0.271)),
    url("images/Kisses.png");
}
